header {
    max-height: 15vh;
    font-size: x-large;
    display: flex;
    align-items: center;
}

.menu-button {
    margin: 1em;
}

.menu ul {
    gap: 2vw;
    margin: 1em;
    padding: 0;
}

.disabled {
    display: none;
}

.enabled {
    display: flex;
}

@media (max-width: 1024px) {
    header {
        font-size: large;
    }
}

@media (max-width: 768px) {
    header {
        background-color: gray;
        flex-direction: column;
        align-items: baseline;
    }

    .menu {
        background-color: black;
        width: 50%;
        max-height: 100%;
        position: absolute;
        margin-top: 7.5vh;
    }

    .menu-options {
        flex-direction: column;
    }
}