<header>
  <nav>
    <ul>
      <li>
        <a class="button-link" routerLink="/about" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Sobre
        </a>
      </li>

      <li>
        <a class="button-link" routerLink="/resume" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Resumo
        </a>
      </li>

      <li>
        <a class="button-link" routerLink="/portfolio" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            Portifolio
        </a>
      </li>

      <li>
        <a class="button-link" routerLink="/blog" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            blog
        </a>
      </li>

      <li>
        <a routerLink="/main" routerLinkActive="activebutton" ariaCurrentWhenActive="page">
            @if (router.routerState.snapshot.url !== '/main') {
            <i class="icon fa-solid fa-x"></i>
          } @else {
            <i class="icon fa-solid fa-bars"></i>
          }
        </a>
      </li>
    </ul>
  </nav>
</header>

<main>
  <router-outlet></router-outlet>
</main>