header {
    max-height: 15vh;
    font-size: x-large;
}

.menu {
    display: flex;
    justify-content: flex-start;
    gap: 2vw;
    margin: 1em;
}

.menu-options {
    display: flex;
    gap: 2vw;
}

.hidden {
    display: none;
}

@media (max-width: 1024px) {
    header {
        font-size: large;
    }
}

@media (max-width: 768px) {
    .menu { 
        background-color: black;
        width: 50%;
        position: absolute;
        height: 100%;
        padding: 3vh 0 0 2vh;
        margin: 0 0 0 0;
        flex-direction: column;
        gap: 4vh;
    }

    .menu-options {
        padding: 0;
        flex-direction: column;
        gap: 4vh;
    }
}