header {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

header nav {
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
}