<section class="container">
    <section class="row">
        <section class="col-12 col-md-6">
            <h1 class="title-1">Olá, eu sou José Victor</h1>
            <span class="space space-20"></span>
            <h4 class="title-4">Vamos criar algo juntos</h4>
            <span class="space space-20"></span>
            <p class="text">Sou analista e desenvolvedor de sistemas, busco sempre atuar em equipes e projetos que busquem por inovação. Se está procurando um desenvolvedor, vamos conversar</p>
        </section>

        <section class="col-12 col-md-6">
            <figure>
                <img src="../../../assets/images/profile_cort.jpg" alt="profile">
            </figure>
        </section>
    </section>
</section>

<div class="fixed-block block-left">
    <ul>
        <li>
            <a class="button-link single-language" href="#0">
                por
            </a>
        </li>

        <li>
            <a class="button-link single-language" href="#0">
                ing
            </a>
        </li>
    </ul>
</div>

<div class="fixed-block block-right">
    <ul>
        <li>
            <a href="#0">
                <i class="icon fa-brands fa-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="#0">
                <i class="icon fa-brands fa-square-github"></i>
            </a>
        </li>
    </ul>
</div>