<section class="container">
    <section class="row">
        <section class="col-12 col-md-6 col-lg-5 container container-img">
            <img src="../../../assets/images/profile_cort.jpg" class="main_image" alt="profile">
        </section>

        <section class="col-12 col-md-6 container container-text">
            <h4 class="title-4">Olá, meu nome é</h4>
            <h1 class="title-1">José Victor</h1>
            <span class="space space-20"></span>
            <h4 class="title-4">Sou um analista e desenvolvedor de sistemas FullStack</h4>

            <ul class="list-icons-links">
                <li>
                    <a href="https://www.linkedin.com/in/josetvictor/" target="_blank">
                        <i class="icon fa-brands fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/josetvictor" target="_blank">
                        <i class="icon fa-brands fa-square-github"></i>
                    </a>
                </li>
            </ul>
        </section>
    </section>
</section>