.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10vh;
}

.space {
    display: block;
    width: 100%;
}

.space-20 {
    height: 20px;
}

.text-shrink {
    max-width: 100%;
}

.main_image {
    width: 100%;
    height: auto;
}

.container-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-icons-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    padding: 0;
}

@media (min-width: 768px) {
    .main_image {
        width: 50%;
    }
}

@media (min-width: 1024px) {
    .main_image {
        width: 80%;
    }
}
