.row {
    justify-content: center;
}

.container-img {
    width: 40%;
    height: 40%;
    overflow: hidden;
    padding: 0;
}

.container-img img{
    width: 100%;
}

.container-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-icons-links {
    display: flex;
    gap: 1vw;
    align-items: center;
    padding: 0;
}

@media (max-width: 768px) {
    .container-img {
        width: 100%;
        height: 100%;
    }

    .container-img img {
        border-radius: 50%;
        display: block;
        height: 250px;
        margin: 0 auto 40px auto;
        width: 250px;
    }

    .col-md-6 {
        width: 100%;
    }
}