<section class="container">
    <section class="row">
        <section class="col-12 col-md-6">
            <h1 class="title-1">Olá, eu sou José Victor</h1>
            <span class="space space-20"></span>
            <div class="text-shrink">
                <h4 class="title-4">Vamos criar algo juntos</h4>
                <span class="space space-20"></span>
                <p class="text">Sou analista e desenvolvedor de sistemas, busco sempre atuar em equipes e projetos que busquem por inovação. Se está procurando um desenvolvedor, vamos conversar</p>

                <ul class="list-icons-links">
                    <li>
                        <a href="#0">
                            <i class="icon fa-brands fa-linkedin"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="icon fa-brands fa-square-github"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </section>

        <section class="col-12 col-md-6 container-img">
                <img src="../../../assets/images/profile_cort.jpg" class="main_image" alt="profile">
        </section>
    </section>
</section>