.navbar {
    width: 100%;
    padding: 1vh 2vw;
    font-size: 1.5rem;
    justify-content: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-menu {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2vh;
}

.menu-icon {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

/* Defina as cores intermediárias manualmente ou use uma ferramenta de gradient picker */
.activebutton {
    color: #e1dd17;
}

.activebutton:hover {
    color: #8f8c0c;
}


@media (max-width: 1024px) {
    .navbar {
        font-size: 1.2rem;
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: flex-start;
    }
    .menu-icon {
        display: flex;
    }

    .navbar-menu {
        background-color: #333;
        position: fixed;
        left: 0;
        top: 4vh;
        height: 100%;
        flex-direction: column;
        align-items: baseline;
        justify-content: flex-start;
        width: 25vw;
        padding-left: 2vw;
        padding-top: 2vh;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in-out;
    }

    .navbar.active {
        background-color: #333;
    }

    .navbar-menu.active {
        transform: translateX(0);
    }
}

@media (max-width: 425px) {
    .navbar-menu {
        width: 100%;
    }
}